@import "../../sass/devices.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mobile {
    width: 100%;
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 24px;
  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }
}
