@import '../../sass/devices.scss';

.contentWrapper {
  display: flex;
  flex: 1;
  @include mobile {
    flex-direction: column;
  }
}

.articlesContainer,
.replacementContent {
  flex: 1;
  height: 100%;
  padding: 8px 24px 8px;
}

.replacementContent {
  margin-top: 24px;
}
